/.gitignore
/emacs.d/.cask/
/emacs.d/.org-id-locations
/emacs.d/.python-environments/
/emacs.d/.sx/
/emacs.d/ac-comphist.dat
/emacs.d/auto-save-list/
/emacs.d/bookmarks
/emacs.d/ede-projects.el
/emacs.d/elpa/
/emacs.d/ensime/
/emacs.d/eshell/
/emacs.d/ido.last
/emacs.d/image-dired
/emacs.d/network-security.data
/emacs.d/projectile-bookmarks.eld
/emacs.d/recentf
/emacs.d/request/
/emacs.d/secret/
/emacs.d/semanticdb
/emacs.d/smex-items
/emacs.d/srecode-map.el
/emacs.d/tramp
/emacs.d/url/
/todo.org
