# Personal local files.
/emacs.d/secret/
/emacs.d/local.el
/emacs.d/local.d/
/emacs.d/early-local.el

# straight.el
/emacs.d/straight/build-*
/emacs.d/straight/repos/

# Byte-compiled el-patch templates.
/emacs.d/vifon/my-el-patch.elc

# no-littering.el
/emacs.d/var/
/emacs.d/etc/*
# …but include the snippets…
!/emacs.d/etc/yasnippet/
/emacs.d/etc/yasnippet/*
# …except their compiled form.
!/emacs.d/etc/yasnippet/snippets/
/emacs.d/etc/yasnippet/snippets/*/.yas-compiled-snippets.el
